*{
    margin: 0%;
    padding: 0%;
}
header{
    margin: 0%;
    padding: 0%;
    background-color: red;
    display: flex;
    justify-content: space-between;
}

nav{
    margin: 2%;
    padding: 1%;
}
nav a{
    margin: 10px;
}