
html{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body{
    margin: 0px;
    height: 100%;
}

ul li a{
    text-decoration: none;
    color: black;
}

li{
    padding: 0px 5px;
    margin: 0px 10px;
    margin-left: 40px;
    display: inline-block;
    list-style: none;
}
ul{
    padding: 0px;
    margin: 0px;
}

.flex-container{
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#aboutme{
    display: flex;
    margin: 0px;
    padding: 0%;
}

.bodywithsexypic{
    padding: 20%;
    width: 20%;
}

img{
    margin: 0px;
    width: 50%;
    height: 20%;
}
.bodywithaboutme{
    padding: 20%;
    width: 80%;
}

footer{
    text-align: center;
}