
html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    border: 1px solid red;
}

body{
    margin: 0px;
    height: 100%;
    border: 1px solid black;
}

ul li a{
    text-decoration: none;
    color: black;
}

li{
    padding: 0px 5px;
    margin: 0px 10px;
    margin-left: 40px;
    display: inline-block;
    list-style: none;
}
ul{
    padding: 0px;
    margin: 0px;
}

.flex-container{
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#aboutme{
    display: flex;
    background-color: aqua;
    margin: 0px;
    padding: 0%;
}

.bodywithsexypic{
    background-color: yellow;
    padding: 20%;
    width: 50%;
}
.bodywithaboutme{
    background-color: red;
    padding: 20%;
    width: 50%;
}

footer{
    text-align: center;
    padding: 3% 0;
    border: 1px solid black;
}