
html{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body{
    margin: 0px;
    height: 100%;
}

ul li a{
    text-decoration: none;
    color: black;
}

li{
    padding: 0px 20px;
    margin: 0px 10px;
    margin-left: 40px;
    display: inline-block;
    list-style: none;
    font-size:1.2em;
}
ul{
    padding: 0px;
    margin: 0px;
}

.flex-container{
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#aboutme{
    display: flex;
    margin: 0px;
    padding: 0%;
}

.bodywithsexypic{
    padding: 20%;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.808);
}

.bodywithaboutme{
    margin: 0%;
    padding: 20%;
    width: 80%;
}

h3{
    text-align: center;
}
footer{
    text-align: center;
}

.button{
    margin: 0% auto;
    background-color: rgba(255, 0, 0, 0.651);
    padding: 7%;
    border: none;
    display: flex;
}